env:
    global:
        - REPO_DIR=gensim
        - BUILD_COMMIT=4.0.0beta
        - UNICODE_WIDTH=32
        - MACOSX_DEPLOYMENT_TARGET=10.9
        #
        # The contents of this file mirror the linux_testenv list
        # in gensim's setup.py.  I can't think of a better way to include
        # them here for now.  They'll get picked up by the multibuild stuff
        # running in multibuild/common_utils.sh.
        #
        - TEST_DEPENDS=test-depends.txt

language: python
os: linux

#
# https://docs.travis-ci.com/user/reference/focal/
#
dist: focal
services: docker

jobs:
  # Linux
  - os: linux
    env:
      - MB_PYTHON_VERSION=3.6
      - PLAT=x86_64

  - os: linux
    env:
      - MB_PYTHON_VERSION=3.7
      - PLAT=x86_64
      - SKIP_NETWORK_TESTS=1


  - os: linux
    env:
      - MB_PYTHON_VERSION=3.8
      - PLAT=x86_64
      - SKIP_NETWORK_TESTS=1


  # MacOS
  - os: osx
    language: generic
    osx_image: xcode10.1
    env:
      - MB_PYTHON_VERSION=3.6
      - SKIP_NETWORK_TESTS=1

  - os: osx
    language: generic
    env:
      - MB_PYTHON_VERSION=3.7
      - SKIP_NETWORK_TESTS=1

  - os: osx
    language: generic
    env:
      - MB_PYTHON_VERSION=3.8
      - SKIP_NETWORK_TESTS=1


before_install:
    - source multibuild/common_utils.sh
    - source multibuild/travis_steps.sh
    - before_install

install:
    - clean_code $REPO_DIR $BUILD_COMMIT
    - build_wheel $REPO_DIR $PLAT

script:
    - install_run $PLAT


# Upload wheels at the end of process (no matters, success or fail)
after_success:
    - ls -laht ${TRAVIS_BUILD_DIR}/wheelhouse/
    - pip install wheelhouse-uploader
    - python -m wheelhouse_uploader upload --local-folder ${TRAVIS_BUILD_DIR}/wheelhouse/ --no-ssl-check gensim-wheels --provider S3 --no-enable-cdn

after_failure:
    - ls -laht ${TRAVIS_BUILD_DIR}/wheelhouse/
    - pip install wheelhouse-uploader
    - python -m wheelhouse_uploader upload --local-folder ${TRAVIS_BUILD_DIR}/wheelhouse/ --no-ssl-check gensim-wheels --provider S3 --no-enable-cdn


notifications:
  email:
    - penkov+gensimwheels@pm.me
  on_success: always
  on_failure: always
