environment:
  global:
    BUILD_COMMIT: 4.0.0beta
    # SDK v7.0 MSVC Express 2008's SetEnv.cmd script will fail if the
    # /E:ON and /V:ON options are not enabled in the batch script intepreter
    # See: http://stackoverflow.com/a/13751649/163740
    CMD_IN_ENV: "cmd /E:ON /V:ON /C ..\\appveyor\\run_with_env.cmd"
    WHEELHOUSE_UPLOADER_USERNAME:
      secure: 5XWj5Siu0pGOPKzx6VOe/mq23+9vbvzBsAA+UFvtFvw=
    WHEELHOUSE_UPLOADER_SECRET:
      secure: CKjewPPfH6vXYbZYZnF+w05yoA4HUwOcxmxnahDzT3xlB1F5kx9ng0u8mDUR++Wh
    #
    # The contents of this file mirror the linux_testenv list
    # in gensim's setup.py.  I can't think of a better way to include
    # them here for now.  They'll get picked up by the multibuild stuff
    # running in multibuild/common_utils.sh.
    #
    TEST_DEPENDS: "pytest mock cython nmslib pyemd testfixtures Morfessor==2.0.2a4 python-Levenshtein>=0.10.2 scikit-learn visdom>=0.1.8,!=0.1.8.7 pyemd"

  matrix:
    - PYTHON: "C:\\Python36-x64"
      PYTHON_VERSION: "3.6.0"
      PYTHON_ARCH: "64"

    - PYTHON: "C:\\Python37-x64"
      PYTHON_VERSION: "3.7.0"
      PYTHON_ARCH: "64"

    - PYTHON: "C:\\Python38-x64"
      PYTHON_VERSION: "3.8.0"
      PYTHON_ARCH: "64"


matrix:
  fast_finish: true


install:
  - "SET PATH=%PYTHON%;%PYTHON%\\Scripts;%PATH%"
  - "python -m pip install -U pip setuptools wheel wheelhouse_uploader"

  # Check that we have the expected version and architecture for Python
  - "python --version"
  - "python -c \"import struct; print(struct.calcsize('P') * 8)\""
  - "git submodule update --init --recursive"
  - "cd gensim"
  - "git checkout %BUILD_COMMIT%"
  - "git clean -fxd"
  - "git reset --hard"
  - "python ../patch_setup.py"


  # Install the build and runtime dependencies of the project.
  - "%CMD_IN_ENV% python setup.py bdist_wheel"
  - ps: "ls dist"

  # Install the generated wheel package to test it
  - "pip --version"
  - "pip install --pre --force-reinstall dist/*"


build: false

test_script:
  - "cd .."
  - "mkdir empty_folder"
  - "cd empty_folder"
  - "SET PYTHONHASHSEED=1"
  - "python -c \"from gensim.models.word2vec import FAST_VERSION as FV_W2V; from gensim.models.fasttext import FAST_VERSION as FV_FT; print('FAST_VERSION (word2vec): {}, FAST_VERSION (fasttext): {}'.format(FV_W2V, FV_FT)); assert FV_W2V >= 0, FV_W2V; assert FV_FT >= 0, FV_FT\""
  - "pytest -rfxEXs --durations=20 --disable-warnings --showlocals --pyargs gensim"


# Upload wheels at the end of process (no matters, success or fail)
on_finish:
  - "ls -laht ../gensim/dist/"
  - "python -m wheelhouse_uploader upload --no-ssl-check --local-folder=../gensim/dist/  gensim-wheels --provider S3 --no-enable-cdn"

notifications:
  - provider: Email
    to: penkov+gensimwheels@pm.me
    on_build_success: true
    on_build_failure: true
